%h1 Royale Digital  
%h2 API Key
%form{:action => "/userInput", :method => 'post'} 
  %fieldset
    %input{:type => "text", :name => "key", :class => "text"}
    %input{:type => "text", :name => "tag", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}
