 body {
   padding-left: 0;
   padding-right: 0;
   line-height: 20px;
   color: #666;
   /*white-space: normal;*/
 }
 .container .heading {
   margin: 40px 0px 0 12px;
   padding-bottom: 3px;
 }
 .container .row-fluid .span12 div.div-1 {
   margin: 10px 20px 60px 0px;
 }
 .container .row-fluid .span12 .div-1 .page-header {
   padding: 0px;
   margin: 0px 0px 10px 12px;
 }
 .container .row-fluid .span12 .div-1 .page-header h1 {
   font-weight: normal;
   color: #555555;
   font-family:"helvetica neue";
   font-size: 35px;
 }
 .container .row-fluid .span12 .div-1 p.p-1 {
   margin: 0px 0px 10px 12px;
 }
 .container .row-fluid .span12 .div-1 .p-1 span {
   color: #FD6E6E;
 }
 .container .row-fluid .span12 .div-1 p.p-2 {
   font-weight: 300;
   font-size: 16px;
   line-height: 25px;
   margin: 0px 0px 36px 12px;
   /*white-space: pre-line;*/
 }
 .container-fluid {
   background: #333333;
   padding: 0px 20px 10px 20px;
 }

 .date {
  color: #666 !important;
}
/*added this too*/
h4 {
   display: inline;
   color: #36e2be;
   text-decoration: none;
 }
 /*added this myself*/
.container {
   margin-top: 40px;
 }
p.team_wrapper {
   margin: 0 0 0px 13px;
 }

.team {
   color: #ffac79;
}

.logo {
   background-image: url('/img/logo.png');
   background-position: center center;
   width: 100%;
   height: 142px;
   background-repeat: no-repeat;
}
